{% for host in groups['all'] %}
ALERT container_down
  IF absent(container_start_time_seconds{name="{{ hostvars[host].inventory_hostname_short|lower|replace('-','_') }}"})
  FOR 30s
  LABELS { 
    severity = "critical" ,
    action = "amExecReboot"
  }
  ANNOTATIONS {
    summary= "{{ '{{ $labels.name }}' }} down",
    description= "{{ '{{ $labels.name }} is down for more than 30 seconds.' }}"
  }

{% endfor %}
